@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <header>test</header>
    <div>
        @Model
    </div>
    @using (Html.BeginForm("Index"))
    {
        <div>
            <textarea  type="text" id="content" name="content"></textarea>
        </div>
        <button type="submit">submit</button>
    }

</body>
</html>
